In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from pprint import pprint
import pandas as pd

In [2]:
# Import Hawaii Station Data

from station_model import Hawaii_Station

engine_s = create_engine("sqlite:///hawaii.sqlite")
conn_s = engine_s.connect()
session_s = Session(bind=engine_s)

station_data = session_s.query(Hawaii_Station).limit(10)
for row in station_data:
    pprint(row.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15150>,
 'elevation': 3.0,
 'id': 1,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15350>,
 'elevation': 14.6,
 'id': 2,
 'latitude': 21.4234,
 'longitude': -157.8015,
 'name': 'KANEOHE 838.1, HI US',
 'station': 'USC00513117'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e153d0>,
 'elevation': 7.0,
 'id': 3,
 'latitude': 21.5213,
 'longitude': -157.8374,
 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US',
 'station': 'USC00514830'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15450>,
 'elevation': 11.9,
 'id': 4,
 'latitude': 21.3934,
 'longitude': -157.9751,
 'name': 'PEARL CITY, HI US',
 'station': 'USC00517948'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e154d0>,
 'elevation': 306.6,
 'id': 5,
 'latitude': 21.4992,
 'longitude': -158.0111,
 'name': 'UPPER WAHIAWA 874.3, HI US',
 'station': 'USC00518838'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15590>,
 'elevation': 19.5,
 'id': 6,
 'latitude': 21.33556,
 'longitude': -157.71139,
 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US',
 'station': 'USC00519523'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15650>,
 'elevation': 32.9,
 'id': 7,
 'latitude': 21.45167,
 'longitude': -157.84888999999998,
 'name': 'WAIHEE 837.5, HI US',
 'station': 'USC00519281'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15710>,
 'elevation': 0.9,
 'id': 8,
 'latitude': 21.3152,
 'longitude': -157.9992,
 'name': 'HONOLULU OBSERVATORY 702.2, HI US',
 'station': 'USC00511918'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e157d0>,
 'elevation': 152.4,
 'id': 9,
 'latitude': 21.3331,
 'longitude': -157.8025,
 'name': 'MANOA LYON ARBO 785.2, HI US',
 'station': 'USC00516128'}

In [3]:
# Import Hawaii Measurement Data

from measurement_model import Hawaii_Measurement

engine_m = create_engine("sqlite:///hawaii.sqlite")
conn_m = engine_m.connect()
session_m = Session(bind=engine_m)

measurement_data = session_m.query(Hawaii_Measurement).limit(10)
for row in station_data:
    pprint(row.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15e10>,
 'elevation': 3.0,
 'id': 1,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15f50>,
 'elevation': 14.6,
 'id': 2,
 'latitude': 21.4234,
 'longitude': -157.8015,
 'name': 'KANEOHE 838.1, HI US',
 'station': 'USC00513117'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15cd0>,
 'elevation': 7.0,
 'id': 3,
 'latitude': 21.5213,
 'longitude': -157.8374,
 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US',
 'station': 'USC00514830'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15c10>,
 'elevation': 11.9,
 'id': 4,
 'latitude': 21.3934,
 'longitude': -157.9751,
 'name': 'PEARL CITY, HI US',
 'station': 'USC00517948'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15fd0>,
 'elevation': 306.6,
 'id': 5,
 'latitude': 21.4992,
 'longitude': -158.0111,
 'name': 'UPPER WAHIAWA 874.3, HI US',
 'station': 'USC00518838'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15310>,
 'elevation': 19.5,
 'id': 6,
 'latitude': 21.33556,
 'longitude': -157.71139,
 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US',
 'station': 'USC00519523'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e15390>,
 'elevation': 32.9,
 'id': 7,
 'latitude': 21.45167,
 'longitude': -157.84888999999998,
 'name': 'WAIHEE 837.5, HI US',
 'station': 'USC00519281'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e153d0>,
 'elevation': 0.9,
 'id': 8,
 'latitude': 21.3152,
 'longitude': -157.9992,
 'name': 'HONOLULU OBSERVATORY 702.2, HI US',
 'station': 'USC00511918'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7fdf46e157d0>,
 'elevation': 152.4,
 'id': 9,
 'latitude': 21.3331,
 'longitude': -157.8025,
 'name': 'MANOA LYON ARBO 785.2, HI US',
 'station': 'USC00516128'}

# Exploratory Climate Analysis

In [4]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# Calculate the date 1 year ago from the last data point in the database
# Get the last 12 months of data

measurement_df1 = pd.read_sql("SELECT * FROM measurement", conn_m).dropna(how = 'any') 
# print(measurement_df1)
# print(measurement_df1.head())

# Get max date from table
max_df = pd.read_sql("SELECT max(date) FROM measurement", conn_m)
print(max_df)

    max(date)
0  2017-08-23

In [5]:
# Perform a query to retrieve the data and precipitation scores
# Save the query results as a Pandas DataFrame

measurement_df2 = pd.read_sql("""
SELECT date, prcp 
FROM measurement 
WHERE date between '2016-08-23' and '2017-08-23'
""", conn_m)
# print(measurement_df1)
print(measurement_df1.head())

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
5   6  USC00519397  2010-01-07  0.06  70.0

In [6]:
# Set the index to the date column and sort the dataframe by date

measurement_df3 = measurement_df2.sort_values(by = 'date').dropna(how = 'any').set_index('date')
print(measurement_df3.head())

            prcp
date
2016-08-23  0.00
2016-08-23  1.79
2016-08-23  0.05
2016-08-23  0.15
2016-08-23  0.70

In [7]:
# Use Pandas to calcualte the summary statistics for the precipitation data
print(measurement_df2.describe())

              prcp
count  2021.000000
mean      0.177279
std       0.461190
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

measurement_df2.plot(
    x="date",
    y='prcp',
    kind="bar",
    title="Precipitation"
)
plt.xticks(rotation=90)
plt.xlabel("Date")
plt.ylabel("Inches")
plt.show()

In [ ]:
measurement_df2.plot.bar(x = 'date', y = 'prcp')

In [ ]:
# Design a query to show how many stations are available in this dataset?

# Get all station data
station_count = pd.read_sql("SELECT COUNT(station) FROM station",conn_s)
# print(station_count)
print(station_count.head())

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

# all_df = pd.read_sql("SELECT sub.* FROM (SELECT m.id, m.station, date, prcp, tobs, name, latitude, longitude, elevation, COUNT(m.station) as station_count FROM measurement AS m LEFT OUTER JOIN station AS s ON m.station = s.station GROUP BY m.id, m.station, date, prcp, tobs, name, latitude, longitude, elevation) as sub ORDER BY station_count", conn_m).dropna(how = 'any') 
all_df = pd.read_sql("""
SELECT sub.* 
FROM (
        SELECT m.station, COUNT(m.station) as station_count 
        FROM measurement AS m 
            LEFT OUTER JOIN station AS s ON m.station = s.station 
            GROUP BY m.station
            ) as sub
ORDER BY station_count desc
""", conn_m).dropna(how = 'any') 
print(all_df)

In [ ]:
# Design a query to retrieve the last 12 months of temperature observation data (TOBS).
# Filter by the station with the highest number of observations.

tobs_df = pd.read_sql("""
SELECT station, date, tobs
FROM measurement 
WHERE station = 'USC00519281' and date between '2016-08-23' and '2017-08-23'
""", conn_m).dropna(how = 'any') 
print(tobs_df)

In [ ]:
# Plot the results as a histogram with bins=12

tobs_df.hist(bins=12)

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`